<div class="mt-3"></div>

<div class="row"> <!-- inicio para colocar em sentido de linha --->

<!-- Primeiro aluno  -->
<div class="col px-4 mx-1 ml-5"><!-- indicar que vai pegar apenas uma coluna  --->
<div [ngClass]="{'border border-danger': media < 7,'border-success': media >=7}" class="card h-100" style="width: 15rem"> <!-- declarando que é um card e formatação img ---> <!--Condicional para mudar a cor de acordo com a média-->
  <img [src]="imagem" class="card-img-top h-75 border-bottom border-danger" alt="estudante"/>
  <div class="card-body">
    <h5 class="card-title" class="mx-auto text-center">
      {{ Nome }}
    </h5>
    <p class="text-center">A média do aluno foi {{media}}</p>
    <div class="text-center"><!-- centro pro badge e inicio do ternário --->
      <span *ngIf="media >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
      <ng-template #elseReprovado >
       <span class="badge badge-danger">Reprovado</span>
      </ng-template>
    </div> <!-- Fim da config do badge --->
  </div><!--Fim do conteudo do card-->
</div><!--Fim do card inteiro-->
</div><!--Fim da primeira coluna-->

<!-- Segundo aluno  -->
<div class="col px-4 mx-1"> <!-- indicar que vai pegar apenas uma coluna  --->
<div [ngClass]="{'border border-danger': media2 < 7,'border-success': media2 >= 7}" class="card h-100" style="width: 15rem"> <!--Condicional para mudar a cor de acordo com a média-->
  <img [src]="imagem2" class="card-img-top h-75 border-bottom border-success" alt="estudante"/>
  <div class="card-body">
    <h5 class="card-title" class="mx-auto text-center">
      {{ Nome2 }}
    </h5>
    <p class="text-center">A média do aluno foi {{media2}}</p>
    <div class="text-center">
      <span *ngIf="media2 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
      <ng-template #elseReprovado >
       <span class="badge badge-danger">Reprovado</span>
      </ng-template>
    </div><!--Fim do badge-->
  </div><!--Fim do corpo do card-->
</div><!--Fim do card inteiro-->
</div><!--Fim da coluna-->

<!-- Terceiro aluno  -->
<div class="col px-4 mx-1"> <!-- indicar que vai pegar apenas uma coluna  --->
<div [ngClass]="{'border border-danger': media3 < 7,'border-success': media3 >= 7}" class="card h-100" style="width: 15rem"> <!--Condicional para mudar a cor de acordo com a média-->
  <img [src]="imagem3" class="card-img-top h-75 border-bottom border-danger" alt="estudante"/>
  <div class="card-body">
    <h5 class="card-title" class="mx-auto text-center">
      {{ Nome3 }}
    </h5>
    <p class="text-center">A média do aluno foi {{media3}}</p>
    <div class="text-center">
      <span *ngIf="media3 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
      <ng-template #elseReprovado >
       <span class="badge badge-danger">Reprovado</span>
      </ng-template>
    </div><!--Fim do badge-->
  </div><!--Fim do corpo do card-->
</div><!--Fim do card inteiro-->
</div><!--Fim da coluna-->

<!-- Quarto aluno  -->
<div class="col px-4 mx-1 "> <!-- indicar que vai pegar apenas uma coluna  --->
<div [ngClass]="{'border border-danger': media22 < 7,'border-success': media22 >= 7}" class="card h-100" style="width: 15rem"> <!--Condicional para mudar a cor de acordo com a média-->
  <img [src]="imagem4" class="card-img-top h-75 border-bottom border-success" alt="estudante"/>
  <div class="card-body">
    <h5 class="card-title" class="mx-auto text-center">
      {{ Nome77 }}
    </h5>
    <p class="text-center">A média do aluno foi {{media22}}</p>
    <div class="text-center">
      <span *ngIf="media22 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
      <ng-template #elseReprovado >
       <span class="badge badge-danger">Reprovado</span>
      </ng-template>
    </div><!--Fim do badge-->
  </div><!--Fim do corpo do card-->
</div><!--Fim do card inteiro-->
</div><!--Fim da coluna-->
</div><!--Fim do Row inteiro-->

<!-- Fim da primeira fileira  -->

<div class="mt-3"></div>
<!-- Inicio da segunda fileira  -->
<div class="row"> <!-- inicio para colocar em sentido de linha --->

  <!-- Primeiro aluno fila 2  -->
  <div class="col px-4 mx-1 ml-5"><!-- indicar que vai pegar apenas uma coluna  --->
    <div [ngClass]="{'border border-danger': media7 < 7,'border-success': media7 >=7}" class="card h-100" style="width: 15rem"> <!-- declarando que é um card e formatação img ---> <!--Condicional para mudar a cor de acordo com a média-->
      <img [src]="imagem7" class="card-img-top h-75 border-bottom border-success" alt="estudante"/>
      <div class="card-body">
        <h5 class="card-title" class="mx-auto text-center">
          {{ Nome111 }}
        </h5>
        <p class="text-center">A média do aluna foi {{media7}}</p>
        <div class="text-center"><!-- centro pro badge e inicio do ternário --->
          <span *ngIf="media7 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
          <ng-template #elseReprovado >
           <span class="badge badge-danger">Reprovado</span>
          </ng-template>
        </div> <!-- Fim da config do badge --->
      </div><!--Fim do conteudo do card-->
    </div><!--Fim do card inteiro-->
    </div><!--Fim da primeira coluna-->

    <!-- Segundo aluno fila 2  -->
    <div class="col px-4 mx-1"><!-- indicar que vai pegar apenas uma coluna  --->
      <div [ngClass]="{'border border-danger': media8 < 7,'border-success': media8 >=7}" class="card h-100" style="width: 15rem"> <!-- declarando que é um card e formatação img ---> <!--Condicional para mudar a cor de acordo com a média-->
        <img [src]="imagem8" class="card-img-top h-75 border-bottom border-danger" alt="estudante"/>
        <div class="card-body">
          <h5 class="card-title" class="mx-auto text-center">
            {{ Nome221 }}
          </h5>
          <p class="text-center">A média do aluno foi {{media}}</p>
          <div class="text-center"><!-- centro pro badge e inicio do ternário --->
            <span *ngIf="media8 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
            <ng-template #elseReprovado >
             <span class="badge badge-danger">Reprovado</span>
            </ng-template>
          </div> <!-- Fim da config do badge --->
        </div><!--Fim do conteudo do card-->
      </div><!--Fim do card inteiro-->
      </div><!--Fim da primeira coluna-->

      <!-- Terceiro aluno fila 2  -->
      <div class="col px-4 mx-1"><!-- indicar que vai pegar apenas uma coluna  --->
        <div [ngClass]="{'border border-danger': media14 < 7,' border-success': media14 >=7}" class="card h-100" style="width: 15rem"> <!-- declarando que é um card e formatação img ---> <!--Condicional para mudar a cor de acordo com a média-->
          <img [src]="imagem5" class="card-img-top h-75 border-bottom border-success" alt="estudante"/>
          <div class="card-body">
            <h5 class="card-title" class="mx-auto text-center">
              {{ Nome5 }}
            </h5>
            <p class="text-center">A média do aluno foi {{media14}}</p>
            <div class="text-center"><!-- centro pro badge e inicio do ternário --->
              <span *ngIf="media14 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
              <ng-template #elseReprovado >
               <span class="badge badge-danger">Reprovado</span>
              </ng-template>
            </div> <!-- Fim da config do badge --->
          </div><!--Fim do conteudo do card-->
        </div><!--Fim do card inteiro-->
        </div><!--Fim da primeira coluna-->

        <!-- Quarto aluno fileira 2-->
        <div class="col px-4 mx-1"><!-- indicar que vai pegar apenas uma coluna  --->
        <div [ngClass]="{'border border-danger': media006 < 7,'border-success': media006 >=7}" class="card h-100" style="width: 15rem"> <!-- declarando que é um card e formatação img ---> <!--Condicional para mudar a cor de acordo com a média-->
          <img [src]="imagem6" class="card-img-top h-75 border-bottom border-dabger" alt="estudante"/>
          <div class="card-body">
            <h5 class="card-title" class="mx-auto text-center">
              {{ Nome001 }}
            </h5>
            <p class="text-center">A média do aluno foi {{media006}}</p>
            <div class="text-center"><!-- centro pro badge e inicio do ternário --->
              <span *ngIf="media006 >= 7; else elseReprovado" class="badge badge-success">Aprovado</span>
              <ng-template #elseReprovado >
               <span class="badge badge-danger">Reprovado</span>
              </ng-template>
            </div> <!-- Fim da config do badge --->
          </div><!--Fim do conteudo do card-->
        </div><!--Fim do card inteiro-->
        </div><!--Fim da primeira coluna-->
  </div> <!--Fim da 2 row-->
  <div class="mb-3"></div>

<router-outlet></router-outlet>
